{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Contact Me{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Contact me below</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="body">
    <div class="container">    
      <h3>Please reach out to me on Mail or Phone ✌</h3>
      <a href = "mailto:yamanbirla888yb@gmail.com" style="font-size:26px">Send Email</a>
      <br>
      <i class="fa fa-whatsapp" style="font-size:26px">7024922849</i>
    </div>  
  </div>
</section>
<!-- ================================
End Content
================================= -->
{%endblock%}